:root {
    --primary-color: hsl(108, 46%, 59%);
    --secondary-color: #63dc69;
    --background-color: #F2E9DC;
    --text-color: #1e1c1c;

}


*{
    margin:0;
    padding: 0;
}


.body{
    background-color: var(--primary-color);
    width: 100%;
}
.encabezado {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    width: 100%;
}

.encabezado_titulo {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}

.encabezado_img {
    width: 25%;
    margin: 25px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20rem;
    
}

.menu__lista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    gap: 10rem;
}

.menu__enlaces{
    font-size: 2rem;
    
}


.cuerpo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom, var(--primary-color), hsl(108, 46%, 70%));
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}

.cuerpo_titulo{
    margin:1rem;
}


.cuerpo_seccion {
    background: var(--background-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);

    padding:1rem;
}

.seccion__articulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap:1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Titulo__seccion {
    font-size: 1.2em;
    margin: 0 0 5px 0;
    color: var(--secondary-color);
}

.cuerpo__content {
    width: 100%;
}


.cuerpo2_seccion{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.seccion2__articulo{
    display: flex;
    justify-content: center;

}

footer{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding:2rem;
    background-color: var(--secondary-color);
}